.table-container {
    overflow-x: auto;
  }
  
  .cart-table {
    width: 100%;
    margin-top: 38px;
    border-collapse: collapse;
    margin-bottom: 44px;
  }
  
  .cart-table thead tr {
    margin-bottom: 12px;
  }
  
  .cart-table thead th {
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #222222;
  }
  
  .cart-table tbody tr td {
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    color: #222;
  }
  
  .cart-table tbody tr td .button-remove {
    border: none;
    background-color: transparent;
    width: 38px;
    height: 38px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .cart-table tbody tr td > img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  .cart-table tbody tr td .button-remove:hover {
    background-color: #fff;
  }
  
  .cart-page-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 142px;
  }

  .button-buy{
    width: 100px;
    height: 35px;
    background-color: #3059ff;
    color: white;
    cursor: pointer;
    border-radius: 90px;
  }
  

  .button-buy:focus,
  .button-buy:hover {
    background-color: #3059ffe0;
  }

  .cupom-container {
    display: flex;
    flex-direction: column;
  }
  
  .cupom-container form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .cupom-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .cupom-label {
    font-size: 14px;
    color: #555555;
  }
  
  .cupom-input {
    height: 34px;
    width: 320px;
    border-radius: 4px;
    border: #dddddd;
    padding: 0 16px;
    transition: 0.2s;
  }
  
  .cupom-input:focus,
  .cupom-input:hover {
    border: 1px solid #3059ff;
  }
  
  .total-container {
    flex: 1;
  }
  
  .total-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .total-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .total-option span {
    font-weight: bold;
    color: #222;
  }
  
  .total-option strong {
    font-weight: normal;
    color: #555555;
  }
  
  @media (max-width: 730px) {
    .cart-page-bottom {
      flex-direction: column;
      gap: 44px;
    }
  
    .cupom-input {
      width: 100%;
    }
  }
  